body {
    font-family: Tahoma;
}

#header {
    background-color: dimgray;
    height: 2rem;
    border-bottom: 2rem solid LightSteelBlue;
}

h1 {
    font-size: 1.5rem;
    color: white;
}

#title {
    height: 30rem;
    background-color: lightgray;
    text-align: center;
}

* {
    margin: 0;
}

#about {
    display: flex;
}

#about img {
    height: 19rem;
}

h3 {
    color: LightSteelBlue;
    width: 13rem;
    margin: 0 auto;
    text-align: center;
    padding-top: 2.5rem;
}

#fav {
    display: flex;
    justify-content: space-evenly;
}

